@page "/education"

<div class="container d-flex flex-column justify-content-center vh-100">
    <h1 style="margin-bottom: 50px;">Education</h1>
    <div class="d-flex justify-content-between" style="margin-bottom: 50px;">
        @* cell left *@
        <div>
            <h4 class="fw-bold">University of Colorado Boulder</h4>
            <p class="text-secondary">Bachelor of Science</p>
            <p>Computer Science - Web Development Track</p>
            <p>GPA: 3.23</p>
        </div>

        @* cell right *@
        <div class="flex-shrink-0"> @*flex-shrink-0 giúp cho nội dung nằm trên cùng 1 hàng*@
            <p class="text-danger">August 2006 - May 2010</p>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="margin-bottom: 50px;">
        @* cell left *@
        <div>
            <h4 class="fw-bold">James Buchanan High School</h4>
            <p class="text-secondary">Technology Magnet Program</p>
            <p>Computer Science - Web Development Track</p>
            <p>GPA: 3.56</p>
        </div>

        @* cell right *@
        <div class="flex-shrink-0"> @*flex-shrink-0 giúp cho nội dung nằm trên cùng 1 hàng*@
            <p class="text-danger">August 2002 - May 2006</p>
        </div>
    </div>
</div>