@page "/experience"


<div class="container d-flex flex-column justify-content-center vh-100">
    <h1 style="margin-bottom: 50px;">Experience</h1>
    <div class="d-flex  justify-content-center" style="margin-bottom: 50px;">
        @* cell left *@
        <div>
            <h4 class="fw-bold">Senior Web Developer</h4>
            <p class="text-secondary">Intelitec Solutions</p>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
        </div>

        @* cell right *@
        <div class="flex-shrink-0"> @*flex-shrink-0 giúp cho nội dung nằm trên cùng 1 hàng*@
            <p class="text-danger">March 2013 - Present</p>
        </div>
    </div>
    <div class="d-flex  justify-content-center" style="margin-bottom: 50px;">
        @* cell left *@
        <div>
            <h4 class="fw-bold">Web Developer</h4>
            <p class="text-secondary">Intelitec Solutions</p>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
        </div>

        @* cell right *@
        <div class="flex-shrink-0"> @*flex-shrink-0 giúp cho nội dung nằm trên cùng 1 hàng*@
            <p class="text-danger">December 2011 - March 2013</p>
        </div>
    </div>
    <div class="d-flex  justify-content-center" style="margin-bottom: 50px;">
        @* cell left *@
        <div>
            <h4 class="fw-bold">Junior Web Designer</h4>
            <p class="text-secondary">Shout! Media Productions</p>
            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
        </div>

        @* cell right *@
        <div class="flex-shrink-0"> @*flex-shrink-0 giúp cho nội dung nằm trên cùng 1 hàng*@
            <p class="text-danger">March 2013</p>
        </div>
    </div>
</div>