@page "/skill"

<div class="container d-flex flex-column justify-content-center vh-100">
    <h3 class="text-uppercase display-3 fw-bold" style="margin-bottom: 50px;">skills</h3>
    <h5 class="text-uppercase text-secondary">Programming Languages & Tools</h5>
    
    @* icon *@
    <div class="gap-3 d-flex mt-5">
        <i class="fab fa-html5 text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-css3-alt text-secondary" style="font-size: 50px;"></i>
        <i class="ionicons ion-social-javascript text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-angular text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-react text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-node-js text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-sass text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-less text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-wordpress text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-gulp text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-grunt text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-npm text-secondary" style="font-size: 50px;"></i>
    </div>

    @* workflow *@
    <div class="mt-3">
        <h5 class="text-uppercase text-secondary mb-10 mt-3" style="font-size: 25">Workflow</h5>
        <ul class="list-unstyled mt-3" >
            <li class="text-secondary"><i class="fa fa-check text-secondary" style="margin-right: 5px;"></i>Mobile-First, Responsive Design</li>
            <li class="text-secondary"><i class="fa fa-check text-secondary" style="margin-right: 5px;"></i>Cross Browser Testing & Debugging</li>
            <li class="text-secondary"><i class="fa fa-check text-secondary" style="margin-right: 5px;"></i>Cross Functional Teams</li>
            <li class="text-secondary"><i class="fa fa-check text-secondary" style="margin-right: 5px;"></i>Agile Development & Scrum</li>
        </ul>
    </div>
</div>