@page "/feedback"
@using System.ComponentModel.DataAnnotations
@using session30_airbnb.Models
@inject IJSRuntime JSRunTime

<div class="container mt-4">
    <h1 class="text-center">Feedback</h1>

    @*Tạo form*@
    <div >
        <EditForm Model="@feedbackModel" OnInvalidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-6">
                    <label for="cleaniness" class="form-label">cleaniness</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5"/>
                </div>

                <div class="col-md-6">

                </div>

                <button type="submit" class="btn btn-primary">Feedback</button>
            </div>
        </EditForm>
    </div>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Feedback Submitted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Thank you! Your feedback has been submitted successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    private FeedbackModel feedbackModel = new();

    private async Task HandleValidSubmit()
    {
        @*Hiển thị modal thông báo send feedback thành công*@
        @*define function showFeedbackModal*@
        await JSRunTime.InvokeVoidAsync("showFeedbackModal");
    }
}
