@inherits LayoutComponentBase


<div class="container-fluid">
    @* sidebar *@
    <div class="row vh-100">
        <div class="col-3 position-fixed h-100" style="background-color: #bd5d38">
            @* avatar *@
            <div>
                <img src="profile.jpg" alt="">
            </div>
        </div>

        <NavMenu />

    </div>

    @* main content *@

</div>













