@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-bodyColor;
}

.cryto__text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button_gradient {
    @apply bg-gradient-text text-white rounded-3xl px-6 py-3 mt-6;
}

/* style cho dots cua slick carousel */
.feedback .slick-dots li button::before {
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

.input__custom {
    background-color: unset;
    border: none;
}